<%- include('../partials/header') %>
<main class="container carrito"> <!-- Inicio Main -->

    <h2 class="carrito__titulo">CARRITO DE COMPRAS</h2>

    <div class="carrito__lista">
        <div class="carrito__info">
            <p>DETALLE DE PRODUCTO</p>
            <p>CANTIDAD</p>
            <p>TOTAL</p>
        </div>

        <section class="carrito__producto">

            <div class="carrito__item">
                <picture class="item__img card-item__cover">
                    <img class="card-item__img--front" src="../../img/star-wars/baby-yoda-1.webp" alt="Figura coleccionable Funko de Baby Yoda">
                    <img class="card-item__img--back" src="../../img/star-wars/baby-yoda-box.webp" alt="Figura coleccionable Funko de Baby Yoda en caja">   
                </picture>
                <article class="carrito__informacion">
                    <h3 class="carrito__name">BABY YODA BLUEBALL</h3>
                    <p class="carrito__licence">STAR WARS</p>
                    <p class="carrito__price">precio unitario: $ 1799,99.-</p>
                </article>
            </div>
        
            <div class="item__cart">
                <button id="subtract" class="item__quantity btn" type="button">-</button>
                <input class="item__input" type="text" name="quantity" id="quantity" placeholder="0" value="2">
                <button id="add" class="item__quantity btn" type="button">+</button>
            </div>
        
            <div>
                <p>$3599,98</p>
            </div>
        
            <div>
                <div class="btn btn--medium"><iconify-icon class="btn--carrito" icon="mdi:close-circle-outline"></iconify-icon></div>
            </div>
        
        </section>

        <section class="carrito__producto">

            <div class="carrito__item">
                <picture class="item__img card-item__cover">
                    <img class="card-item__img--front" src="../../img/pokemon/pidgeotto-1.webp" alt="Figura coleccionable Funko de Pidgeotto">
                    <img class="card-item__img--back" src="../../img/pokemon/pidgeotto-box.webp" alt="Figura coleccionable Funko de Pidgeotto en caja"> 
                </picture>
                <article class="carrito__informacion">
                    <h3 class="carrito__name">BABY YODA BLUEBALL</h3>
                    <p class="carrito__licence">STAR WARS</p>
                    <p class="carrito__price">precio unitario: $ 1799,99.-</p>
                </article>
            </div>
        
            <div class="item__cart">
                <button id="subtract" class="item__quantity btn" type="button">-</button>
                <input class="item__input" type="text" name="quantity" id="quantity" placeholder="0" value="1">
                <button id="add" class="item__quantity btn" type="button">+</button>
            </div>
        
            <div>
                <p>$1799,99</p>
            </div>
        
            <div>
                <div class="btn btn--medium"><iconify-icon class="btn--carrito" icon="mdi:close-circle-outline"></iconify-icon></div>
            </div>
        
        </section>

        <br><br>

    <div class="carrito__resumen">
        <h2 class="carrito__resumen__titulo">RESUMEN</h2>

        <div class="carrito__resumen__info">
            <div class="resumen__info__cantidad">
                <h6>CANTIDAD DE ELEMENTOS</h6>
                <p>3</p>
            </div>
            <div class="resumen__info__subtotal">
                <h6>SUBTOTAL</h6>
                <p>$5.399,97</p>
            </div>
            <div class="resumen__info__envio">
                <h6>ENVIO</h6>
                <p>$0,00</p>
            </div>
            <div class="resumen__info__total">
                <h6>TOTAL</h6>
                <p>$5.399,97</p>
            </div>
        </div>

        <button class="btn carrito__resumen__boton">IR A PAGAR</button>
    </div>

</main> <!-- Fin Main -->
<%- include('../partials/footer') %>
